$pt-txt-grey666: #666666;
$pt-dark-txt-grey333: #333333;
$pt-orange: #f15d22;
$pt-grey777: #777777;
$pt-light-grey-bg: #f1f2f3;
$pt-white: #ffffff;
$contur: #eee6e2;
$link-city: #3585cc;
$free-fill: #8e8e8e;
