.button {
  padding: 10px 30px;
  background: $pt-orange;
  border-radius: 0px;
  color: $pt-white;

  font-size: 13px;
  line-height: 140%;
  /* or 308% */

  text-align: center;
  text-transform: uppercase;
  @media (max-width: 1230px) {
    font-size: 10px;
    padding: 10px 5px;
    //
  }
}
