.header {
  border-bottom: 1px solid $pt-dark-txt-grey333;
  padding-top: 7px;
  &-bg-top {
    display: flex;
    background: $pt-light-grey-bg;
    @media (max-width: 1022px) {
      display: none;
    }
  }
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 20px;
    color: $pt-txt-grey666;
    &__left {
      width: 38%;
      @media (max-width: 1230px) {
        width: 30%;
      }
    }
    &__right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }
    &__city a {
      text-decoration: none;
      color: $link-city;
      &:hover {
        text-decoration-line: underline;
      }
    }
    &__phones {
      & div {
        display: flex;
        align-items: center;
        gap: 6px;
        & a {
          text-decoration-line: underline;
          color: $pt-dark-txt-grey333;
          font-size: 18px;
          line-height: 27px;
          /* or 150% */
          @media (max-width: 1022px) {
            font-size: 15px;
          }
        }
        & a:hover {
          color: $pt-orange;
        }
      }
      & img {
        width: 12px;
        height: 12px;
        & svg > g > g {
          fill: $pt-orange;
        }
      }
    }
    &__free {
      width: 47px;
      margin-left: 20px;
      margin-right: 23px;
      color: $free-fill;
      font-size: 10px;
      line-height: 15px;
      /* or 150% */
      text-align: right;
      text-decoration-line: underline;
    }
    &__button {
      @media (max-width: 1230px) {
        // width: auto;
      }
    }
  }
  &__logo {
    display: block;
    width: 224px;
  }
  &-nav {
    &__list {
      display: inline-flex;
      flex-wrap: wrap;
      vertical-align: middle;
      padding: 0;
      margin: 0;
      gap: 15px;
      @media (max-width: 1230px) {
        gap: 7px;
      }
    }
    &__link {
      font-size: 12px;
      line-height: 20px;
      /* identical to box height, or 162% */
      text-decoration-line: none;
      color: #666666;
      &:hover {
        text-decoration-line: underline;
        color: $pt-orange;
      }
    }
  }
  &-bottom {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1022px) {
      padding: 15px 0;
    }
    & a {
      text-decoration-line: none;
      text-transform: uppercase;
      color: $pt-dark-txt-grey333;
      font-size: 16px;
      &:hover {
        text-decoration-line: underline;
        color: $pt-orange;
      }
      @media (max-width: 1230px) {
        font-size: 14px;
      }
      @media (max-width: 1022px) {
        font-size: 13px;
      }
    }
  }
  &-menu {
    display: flex;
    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      @media (max-width: 1022px) {
        display: none;
      }
    }
    &__link {
      font-size: 12px;
      line-height: 20px;
      /* identical to box height, or 162% */
      text-decoration-line: none;
      color: #666666;
      &:hover {
        text-decoration-line: underline;
        color: $pt-orange;
      }
    }
  }
}

.lang-change a {
  gap: 6px;
  & img {
    width: 28px;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 1px;
    border: 1px solid #fff;
    min-width: 28px;
    &:hover {
      border: 1px solid $pt-orange;
    }
  }
  & span {
    text-align: center;
  }
}

// ************

.header-mobile {
  padding: 25px 0;
  display: none;
  justify-content: space-between;
  align-items: center;
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & div:not(:last-of-type) {
      margin-right: 15px;
    }
  }
  &__logo {
    & img {
      width: 100%;
    }
    width: 130px;
    height: 27px;
  }
}

@media (min-width: 375px) {
  .header-mobile {
    &__menu {
      & div:not(:last-of-type) {
        margin-right: 30px;
      }
    }
  }
}

@media (min-width: 960px) {
  .header-mobile {
    // padding: 35px 0;
    &__logo {
      width: 190px;
      height: 40px;
    }
  }
}

// *********
@media (max-width: 1280px) {
  .header {
    &__logo {
      width: 190px;
    }
  }
}

@media (max-width: 1022px) {
  .header {
    &-mobile {
      display: flex;
      padding: 10px 0;
    }
  }
}
@media (max-width: 798px) {
  .header {
    &__logo {
      width: 140px;
    }
    &-nav {
      display: none;
    }
  }
}
