.info {
  padding: 23px 0 80px;
  &-title {
    padding: 20px 0 50px;
    @media (max-width: 798px) {
      padding: 10px 0 20px;
    }
  }
}
.breadcrumb {
  padding-bottom: 20px;
  @media (max-width: 798px) {
    padding-bottom: 10px;
  }
  & ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
  }

  &__item:not(:last-child)::after {
    display: inline-block;
    margin: 0 0.25rem;
    content: '/';
  }

  &__item a {
    text-decoration-line: none;
    // text-transform: uppercase;
    color: $pt-txt-grey666;
    font-size: 14px;
    &:hover {
      text-decoration-line: underline;
      color: $pt-orange;
    }
    @media (max-width: 1230px) {
      font-size: 14px;
    }
    @media (max-width: 1022px) {
      font-size: 13px;
    }
    @media (max-width: 798px) {
      font-size: 12px;
    }
  }
}

.calc {
  padding: 20px 20px 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $pt-light-grey-bg;
  @media (max-width: 798px) {
    flex-direction: column;
    padding: 20px 20px 20px 20px;
  }
  &__wrap {
    display: flex;
    justify-content: start;
    @media (max-width: 1230px) {
      flex-direction: column;
    }
    @media (max-width: 798px) {
      width: 75%;
      margin-bottom: 30px;
    }
    @media (max-width: 606px) {
      width: 100%;
    }
  }
  &__data {
    margin-right: 40px;
    font-size: 14px;
    @media (max-width: 1230px) {
      margin-bottom: 20px;
    }
    @media (max-width: 1022px) {
      font-size: 12px;
    }
    @media (max-width: 798px) {
      width: 90%;
      margin: 0 auto 20px 0;
    }
  }
  &__info {
    & img {
      display: inline-block;
      align-items: center;
      width: 20px;
      margin-right: 12px;
    }
  }
  &__info {
    & a {
      display: flex;
      align-items: center;
      color: $pt-dark-txt-grey333;
      font-size: 14px;
      &:hover {
        text-decoration-line: underline;
        color: $pt-orange;
      }

      @media (max-width: 1022px) {
        font-size: 12px;
      }
    }
  }
  &__send {
    display: inline-block;
    padding: 20px 20px;
    color: $pt-white;
    background: #000;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 329% */

    text-align: center;
    text-transform: uppercase;
    @media (max-width: 798px) {
      // width: 100%;
    }
  }
}
// ***************************************
.feachers {
  padding: 20px 0;
  display: flex;
  @media (max-width: 1022px) {
    flex-direction: column;
  }

  &__bg {
    padding: 60px 200px 160px 40px;
    width: 63%;
    @media (max-width: 1230px) {
      width: 55%;
      padding: 60px 100px 160px 40px;
    }
    @media (max-width: 1022px) {
      width: 100%;
    }
    @media (max-width: 798px) {
      padding: 80px;
    }
    @media (max-width: 606px) {
      padding: 25px;
    }
  }
  &__text {
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #f1f2f3;
    color: $pt-txt-grey666;
  }
  &__block {
    width: 37%;
    padding: 0 20px 0 30px;

    @media (max-width: 1230px) {
      width: 45%;
    }
    @media (max-width: 1022px) {
      width: 100%;
      padding: 0 30px;
    }

    & h2 {
      display: inline-block;
      padding: 10px 0 20px 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      border-top: 2px solid $pt-light-grey-bg;
      @media (max-width: 606px) {
        font-size: 18px;
        padding-bottom: 10px;
      }
    }
  }
}

.menu {
  & ul li {
    display: block;
    border-top: 2px solid $pt-light-grey-bg;
  }

  &__link {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $pt-orange;
    padding: 11px 0 9px;
    &:hover {
      color: $pt-dark-txt-grey333;
    }
  }
}
// **************************************
.about-bg {
  background: $pt-light-grey-bg;
  padding: 80px 40px;
  @media (max-width: 1022px) {
    padding: 40px 0;
  }
}
.about {
  display: flex;
  padding: 40px;
  background: $pt-white;
  @media (max-width: 1022px) {
    flex-direction: column;
  }
  @media (max-width: 606px) {
    padding: 30px 40px;
  }
  &-info {
    width: 48%;
    padding: 50px 0;
    margin-right: 40px;
    @media (max-width: 1022px) {
      width: 100%;
      padding: 0 0 30px 0;
      margin-right: 0;
    }
    &__title {
      margin-bottom: 20px;
      text-align: left;
      color: $pt-orange;
      @media (max-width: 606px) {
        margin-bottom: 10px;
      }
    }
    &__text {
      font-size: 14px;
      line-height: 21px;
      /* or 150% */
    }
  }
  &-img {
    width: 48%;
    @media (max-width: 1022px) {
      width: 100%;
    }
  }
}
// ******************************************
.sphere {
  padding: 80px 0;
  @media (max-width: 798px) {
    padding: 60px 0;
  }
  &-title {
    margin-bottom: 20px;
    @media (max-width: 798px) {
      margin-bottom: 10px;
    }
  }
  &-info {
    display: flex;
    padding: 20px 0;
    @media (max-width: 798px) {
      flex-direction: column;
    }
    &__text {
      width: 45%;
      font-size: 14px;
      line-height: 21px;
      @media (max-width: 798px) {
        width: 100%;
      }
    }
  }
  &-left {
    width: 51%;
    margin-right: 50px;
    @media (max-width: 798px) {
      width: 100%;
      margin-right: 0;
    }

    &__title {
      margin-bottom: 30px;
      @media (max-width: 798px) {
        margin-bottom: 25px;
      }
    }
    &__list {
      & :not(:last-child) {
        margin-bottom: 15px;
      }
      @media (max-width: 798px) {
        margin-bottom: 30px;
      }
    }
    &__link {
      display: flex;
      align-items: flex-start;
      text-decoration-line: none;
      color: $pt-dark-txt-grey333;
      font-size: 14px;
      line-height: 15px;
      &:hover {
        text-decoration-line: underline;
        color: $pt-orange;
      }
      // @media (max-width: 1230px) {
      //   font-size: 14px;
      // }
      // @media (max-width: 1022px) {
      //   font-size: 13px;
      // }

      & img {
        width: 10px;
        margin-right: 5px;
      }
    }
  }
  &-slide {
    display: flex;
    padding-top: 20px;
    @media (max-width: 798px) {
      padding-top: 10px;
      flex-direction: column;
    }
  }
}
// ****************************************

.production-bg {
  background: $pt-light-grey-bg;
  min-height: 100px;
}
.production {
  padding: 80px 0;
  &__title {
    margin-bottom: 20px;
  }
  &__text {
    font-size: 14px;
    line-height: 21px;
    /* or 150% */
    text-align: center;
    margin-bottom: 40px;
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // justify-content: center;
  // flex-wrap: wrap;
  gap: 20px;
  @media (max-width: 1022px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  @media (max-width: 798px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 22px;
    min-height: 201px;
    text-align: center;
    background: $pt-white;
    border: 1px solid $pt-orange;
    cursor: pointer;
    @media (max-width: 1022px) {
      min-height: 175px;
    }
    & img {
      width: 20px;
      height: 20px;

      transform: rotate(90deg);
      margin-bottom: 15px;
    }
    &__title {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      text-transform: uppercase;
      color: $pt-orange;
      margin-bottom: 15px;
    }
    &__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      /* or 150% */

      text-align: center;
    }
  }
}
// ******************************************
.advantages {
  padding: 80px 0 60px;
}

.advantages {
  padding: 80px 0;
  &__title {
    margin-bottom: 20px;
  }
  &__text {
    padding: 0 80px;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */
    text-align: center;
    margin-bottom: 40px;
  }
  &-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @media (max-width: 1022px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
    @media (max-width: 798px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
    }
    &__img {
      // width: 25%;
      // display: inline-block;
      // margin-right: 30px;
    }
    &__item {
      display: flex;
      align-items: center;
      padding: 20px;
      // min-height: 201px;
      text-align: left;
      background: $pt-white;
      border: 1px solid $pt-orange;
      cursor: pointer;
      @media (max-width: 1022px) {
        // min-height: 175px;
      }
      & img {
        width: 25%;
        // height: 50%;
        // max-width: 70px;
        display: inline-block;
        margin-right: 30px;
        object-fit: fill;
      }
    }
    &__text {
      display: inline-block;

      width: 75%;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      /* or 150% */
      text-align: left;
    }
  }
}
