.title {
  margin: 0;

  color: $pt-dark-txt-grey333;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  /* identical to box height, or 133% */
  @media (max-width: 798px) {
    font-size: 25px;
  }
}
.title-02 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */

  text-align: center;
  text-transform: uppercase;

  color: #333333;
  @media (max-width: 798px) {
    font-size: 20px;
  }
}
